<header>
    <%= image_tag("epl.png", :alt => "Logo", :class => "round") %>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Users", '#' %></li>
		<li><%= link_to "Teams", '#' %></li>
		<li><%= link_to "Fixtures", '#' %></li>
        <li><%= link_to "Gameweeks", '#' %></li>
		<li><%= link_to "Selections", '#' %></li>
		<li><%= link_to "Leagues", '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
</header>